* {
  box-sizing: border-box;
}
table {
  border-collapse: collapse;
  padding: 0px;
  width:346px;
}
tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #F3AA2C;
  color: white;
}

.fullButton{
	width:100%;
	font-size: 24px;
}
/* Create a two-column layout */
.column {
  float: left;
  padding: 5px;
}
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
  padding: 10px;
}
.heather{
	vertical-align: text-top;
	text-align: center;
	word-spacing: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
}
.name{
	vertical-align: text-top;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 18px;
}
.price{
	vertical-align: text-top;
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	width:90px;
}
.description{
	vertical-align: text-top;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	font-stretch: expanded;
	font-size: 14px;
}
.main{
	text-align: center;
	display: block;
	margin: auto;
	width: 100%;
	border: 3px solid #73AD21;
	padding: 10px;
}
.displayRequest{
	text-align: center;
	display: block;
	margin: auto;
	width: 60%;
	border: 3px solid #73AD21;
	padding: 10px;
}